# Server
NODE_ENV=
PORT=

# Database
DATABASE_URL=

# Redis
REDIS_URL=

# JWT
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRY=
JWT_REFRESH_EXPIRY=

# Google OAuth
GOOGLE_CLIENT_ID=

# Paystack
PAYSTACK_SECRET_KEY=
PAYSTACK_WEBHOOK_SECRET=

# App
FRONTEND_URL=
CORS_ORIGINS=
